ERL_ROOT=/home/ilya.basyrov/Projects/xabber-server-panel/xmppserver/lib
ERLC=/home/ilya.basyrov/Projects/xabber-server-panel/xmppserver/erts-13.2.2/bin/erlc
ERL_NATIVE_LIB_DIR=/home/ilya.basyrov/Projects/xabber-server-panel/xmppserver/lib/linux-x86_64
